@{
    ViewData["Title"] = "Home Page";
}

<Document !html>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    <html>
        My idea number: @Model.ID </br>
        Name: @Model.Title </br>
        Amount: @Model.amount 
    </html>

</Document>

