@using Microsoft.AspNetCore;
@model IEnumerable<Capstonetest1.Models.PurchaseOrder>

@{
    ViewData["Title"] = "PurchaseOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a class="nav-link btn btn-secondary" asp-controller="Finance" asp-action="Index">Back to Finance Page</a>
</div>

<h1>Purchase Order</h1>

<center>
<h2>Type PO Number</h2>
@using(Html.BeginForm("PurchaseOrder","Finance", FormMethod.Get)){
    <input type="string" name="purchase_search" value=""/>
    <input type="submit" name="submit" value="Search"/>
}
</center>
<br>
<br>
            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class=""></i>Purchase Order
                    <small class="float-right">Date:@foreach(var item in Model){ @Html.DisplayFor(modelItem => item.date)} </small>
                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                  <address>
                    <strong>Tax Payer:</strong>
                     @foreach(var item in Model){@Html.DisplayFor(modelItem => item.taxpayer_id)}
                    <br>
                    <strong>Customer ID:</strong>
                    @foreach(var item in Model){@Html.DisplayFor(modelItem => item.customer_id)}
                    <br>
                    <strong>Customer name:</strong>
                    @foreach(var item in Model){ @Html.DisplayFor(modelItem => item.customer_name)}
                    <br>
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">

                  <address>
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  <b>PO_Number No:</b> @foreach(var item in Model){@Html.DisplayFor(modelItem => item.po_number)}<br>
                  <b>Payment No:</b> @foreach(var item in Model){@Html.DisplayFor(modelItem => item.Payment_NO)}<br>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Qty</th>
                      <th>Type</th>
                      <th>Price/Liters</th>
                      <th>Total Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>@foreach(var item in Model){@Html.DisplayFor(modelItem => item.Litres)}</td>
                      <td>@foreach(var item in Model){@Html.DisplayFor(modelItem => item.pretrol_type)}</td>
                      <td>@foreach(var item in Model){@Html.DisplayFor(modelItem => item.Price_Litres)}</td>
                      <td>@foreach(var item in Model){@Html.DisplayFor(modelItem => item.Price)}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-12">
                  <a href="invoice-print.html" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                  <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Submit
                    Payment
                  </button>
                  <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                    <i class="fas fa-download"></i> Generate PDF
                  </button>
                </div>
              </div>
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer no-print">
    <div class="float-right d-none d-sm-block">
      <b></b>
    </div>
    <strong>  <a href=""></a>.</strong>
  </footer>